DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/bd_core_mobile
SECRET_KEY=cambia_esta_clave
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORE_BACKEND_URL=http://localhost:8001
PORT=8003
